<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>Bem vindo {{user.nome}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <h1>Adicionar Pessoa</h1>
  <button ion-button item-end icon-left round color="dark" (click)="novo()">
    <ion-icon>Nova Pessoa</ion-icon>
  </button>
</br>
  <ion-list *ngFor="let p of users" text-center>
    <ion-item *ngIf="flag" text-wrap>
      <label>{{p.nome}}</label>&ensp;<label>{{p.email}}</label>&ensp;
      <button ion-button item-end icon-left round color="dark" (click)="editar(p)">
        <ion-icon>Editar</ion-icon>
      </button>&ensp;
      <button ion-button item-end icon-left round color="dark" (click)="excluir(p.id)">
        <ion-icon>Excluir</ion-icon>
      </button>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar color="dark">
    <ion-title text-center>Todos os direitos Reservados.</ion-title>
  </ion-toolbar>
</ion-footer>
